<div class="container" my-3>
  <div class="aboutTodo">
    <h1 class="display-4">About TODO</h1>
    <p class="lead" my-3>
      This is a simple project, We add our product list and description of
      product and terminate easily.
    </p>
    <hr class="my-4" />
    <p>My Second Angular App</p>
    <p class="lead">
      <a class="btn btn-sm btn-primary btn-lg" href="#" role="button"
        >BACK HOME</a
      >
    </p>
    <br />
  </div>
</div>
<div class="container" my-3>
  <!-- <h5>Developed By Vishal Savane</h5> -->
</div>
